@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-base: #8E4FAE;
    --color-primary-muted: #B389C9;
    --color-light-base: #8E4FAE;
    --color-light-muted: #d8e8d4;
    --color-button-base: #6d07a0ce;
    --color-shape-base: #a7e240;
    --color-danger-base: #ce3426;
    --color-active-base: #6d07a0;
    --color-button-muted: #6d07a0;
    --color-black-base: #333;
    --color-black-muted: #646963;
    --color-modal-muted: #23401cad;
    --color-gray-base: #E0E0E0;
    
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-primary-muted);
  color: #fff;
  width: 100%;
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* className="swiper-pagination-bullet swiper-pagination-bullet-active" */

/* swiper global css    */
/* hero swiper slider  */
.hero-swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 99px;
  opacity: 0.6;
  background: #ffffffa4;
}

.hero-swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  width: 24px;
  height: 10px;
  opacity: 1;
  border-radius: 99px;
  background: #ffffff;
}

/* .games-swiper-container  css */

.games-swiper-container .swiper-pagination {
  margin: -10px;
  padding-top: -100px;
}
.games-swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  border-radius: 99px;
  opacity: 0.6;
  background: #ffffffa4;
}

.games-swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  width: 16px;
  height: 5px;
  opacity: 1;
  border-radius: 99px;
  background: #ffffff;
}


 /* scroll ber  */

 .selectBarScroll::-webkit-scrollbar {
  width: 4px;
}
.selectBarScroll::-webkit-scrollbar-track {
  background: #d8e8d4 ;
}
.selectBarScroll::-webkit-scrollbar-thumb {
  background-color: #767676cf;
  border-radius: 10px;
}


/* input filed css   */